@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

header {
    color: #ff7eb5;
    border-bottom: 8px dotted purple;
}

header h1 {
    margin-bottom: 0px;
}

.container h4 {
    color: #878f88;
}

.contact-info-container {
    border: 5px solid purple;
    padding: 0.5rem 0;
    background-color: #f3f3f3;
}

#contact-info-list {
    padding-left: min(25px, 5%);
}

#contact-info-list li {
    margin: 0.5vh 0;
}

li #email {
    color: rgb(11, 170, 5);
}

li a {
    color: orange;
}